{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Careers{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Careers</h1>
        {% if careers %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Name </th>
                  <th width="40%"> Description </th>
                  <th width="15%"> Users Count </th>
                  <th width="15%"> Edit </th>
                  <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for career in careers %}
              console.log(career)
                <tr>
                  <td> {{ career.name }} </td>
                  <td> {{ career.description }} </td>
                  <td>
                    {% if career.users %}
                      {{ career.users.count() }}
                    {% else %}
                      0
                    {% endif %}
                  </td>
                  <td>
                    <a href="{{ url_for('admin.edit_career', id=career.id) }}">
                      <i class="fa fa-pencil"></i> Edit
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_career', id=career.id) }}">
                      <i class="fa fa-trash"></i> Delete
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No career fields have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_career') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add A Career Field
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}